body {
    background-image: url("https://picsum.photos/id/452/1000/1000");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}

#header {
    background-color: #373F51;
    color: white;
    height: 60px;
}

.nav > a {
    color: white;
    text-decoration: none;
}

#hero {
    font-size: 22px;
    color: white;
}

#hero > h1 {
    font-size: 80px;
}

#cta {
    background-color: #ee3652;
    color: white;
    text-decoration: none;
}