body {
    background-image: url("https://picsum.photos/id/452/1000/1000");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}

#header, .nav > a, #hero, #cta {
    color:white;
}

#header {
    background-color: #373F51;
    height: 60px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#hero {
    font-size: 22px;
}

#hero > h1 {
    font-size: 80px;
}

#cta {
    background-color: #ee3652;
}

#cta:hover {
    background-color:white;
    color: #ee3652;
}

#products {
    background-color:#ee3652
}

.card {
    background-color: white;
    width: fit-content;
}

